@import '../../styles/vars';

.introDescription {
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    text-align: center;
  }
  &_dark {
    color: $black;
  }

  &_light {
    color: $white;
  }
}
