@font-face {
  font-family: Robo;
  src: url('../../public/fonts/robo.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}
