@font-face {
  font-family: Robo;
  src: url('../../public/fonts/ROBO/robo.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montseratt/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montseratt/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Sulphur;
  src: url('../../public/fonts/Sulphur_Point/SulphurPoint-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Sulphur;
  src: url('../../public/fonts/Sulphur_Point/SulphurPoint-Bold.ttf');
  font-weight: bold;
}
