.header {
  height: 65px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
