@import '../../styles/vars';

.nav {
  display: flex;
  align-items: center;
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &Link {
    text-decoration: none;
  }
}
